/* Fix ENRG Logo for theme */
.navbar > .container .navbar-brand {
  padding: 0;
  margin-top: 4px;
}

@media screen and (max-width: 520px) {
  .navbar {
    min-height: 35px;
  }

  .navbar-toggle {
    margin-top: 8px;
    margin-bottom: 7px;
  }

  .navbar > .container .navbar-brand > img {
    width: 180px;
    margin-top: 3px;
  }

  .wrapper {
    padding-top: 74px;
  }
}

@media screen and (max-width: 786px) {
  .crp-ft {
    width: 100%;
  }

  .crp-ft .hidden {
    visibility: visible!important;
  }
}

/* Hero Unit BG and nicer text readability for background */
.crp-showcase {
  background: url(/img/featured-area-bg-1.jpg);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#nmt-col-2 {
  text-align: center;
}

/* Make 2-col marketing section more `fluid` feeling */
@media screen and (min-width: 769px) {
  #nmt-col-1 {
    padding-top: 50px;
  }

  #nmt-col-2 > img {
    margin-top: -60px;
  }
}

#contact-section {
  padding-top: 100px;
  padding-bottom: 80px;
  background: url(/img/contact-us-bg.jpg);
  background-size: cover;
  box-shadow: inset 0 5px 8px rgba( 0, 0, 0, 0.2 );
}

.page-contact #contact-section {
  margin-top: -50px;
}

#contact-section .form-contact {
  opacity: 0.8;
}

#contact-section .contact-header,
#contact-section .contact-header + p {
  color: #fff;
  text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.5 );
}

#contact-section .contact-header {
  font-size: 4em;
}

#contact-section .contact-header + p {
  font-size: 1.4em;
}

@media screen and (max-width: 520px) {
  #contact-section {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  #contact-section .contact-header {
    font-size: 2.2em;
  }

  #contact-section .contact-header + p {
    font-size: 1.1em;
  }
}

.block-inverse {
  color: #7C8B8F;
}

.page-services .about-img > img {
  width: 186px;
  height: 186px;
}